<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>

<body>
  <div id="root">
    <book></book>
    <hero></hero>
  </div>

  <script src="../js/vue.js"></script>
  <script>
    let book = Vue.extend({
      template: `<h2>{{book}}</h2>`,
      data() {
        return {
          book: '侠义英雄传'
        }
      },
    })
    let hero = Vue.extend({
      template: `
      <div>
        <h4>江湖人称:{{name}}</h4>
        <h4>善使兵器:{{arms}}</h4>
        <button @click='writer()'>作者</button>
      </div>`,
      data() {
        return {
          name: '山西老董',
          arms: '单刀'
        }
      },
      methods: {
        writer() {
          // 组件的this指向(VueComponent)
          console.log('平江不肖生', this)
        }
      },
    })
    // 组件是一个实例对象
    console.log(hero)
    console.log(book)
    // 不同的组件看起来一样,其实不一样(false)
    console.log(hero === book)

    let vm = new Vue({
      el: '#root',
      components: { hero, book }
    })
    // VueComponent在vm对象的children里
    console.log(vm)
  </script>
</body>

</html>